.parent-body {
  height: 100%;
}

.navigation{
    background-color: #5A2B5E;
    min-height:113px;
}

.logo_1{
    width:140px;
    margin-top: 15px;
    margin-left:25px;
}

.nav-items{
    font-family: Lato,sans-serif;
    text-transform: uppercase;
    font-size:18px;
    color:white;

    li{
        text-decoration: none;
        color:white;
        a{
            color:white;
        }
    }
}

.label_white{
  color:white;
}
.welcome_sign{
    background-color: #328EC2;
    color:white;
    height:33vh;
    min-height:250px;
    font-size:100px;
    text-align: center;
    img{
        width:500px;
        padding:35px;
        -webkit-animation: moveInLeft 2s ease-out;
                animation: moveInLeft 2s ease-out;

    }
}

.blurb {
    background-color: #5D76C0;
    font-family: Lato,sans-serif;
    color:white;
    height:33vh;
    min-height:250px;
}

.login_box{
    background-color: #27E4FD;
    font-family: Lato,sans-serif;
    min-height:250px;
    height:33vh;
}

.signup_box{
    background-color: #592D5D;
    font-family: Lato,sans-serif;
    min-height:250px;
    height:33vh;
}

.blurb_text{
    text-align: center;
    margin-top:35px;
    font-size:25px;
}
.title_text{
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin: 10px 0 0 10px;
}
.button_container {
    text-align: center;
    margin-top: 50px;
}

.login_button{
    background-color: #5A2B5E;
    color:white;
    text-transform: uppercase;
}

.signup_button{
  background-color: #39E4FB;
  color:white;
  text-transform: uppercase;

}

.bottom_footer{
    background-color: #5E77BE;
    height:4vh;
    p{
        margin-bottom: 0;
        font-family: Lato,sans-serif;
        text-align: center;
        color:white;
    }
}


.active{
  font-weight: bold;
  text-decoration: underline;
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
