
.not_logged_settings_body{
  font-family: "Lato",sans-serif;
  background-color: #388FC0;
  height:100%;
}


.please_login_settings{
  background-color: #328EC2;
  margin-top:25px;
  color:white;
  font-size: 50px;
  font-family: "Lato",sans-serif;
  text-align: center;
  width:100%;
  a{
    text-decoration: none;
    color:#27E4FD;
  }
}
