.filler_bar{
  background-color: #328EC2;
}

.settings_body{
  font-family: "Lato",sans-serif;
  background-color: #388FC0;
  height:100%;
}

.email_span{
  font-size: 25px;
  font-family: "Lato",sans-serif;
  text-align: center;
  color:white;
  font-weight:bold;
}

.please_login_settings{
  background-color: #328EC2;
  color:white;
  font-size: 50px;
  font-family: "Lato",sans-serif;
  text-align: center;
  width:100%;
  a{
    text-decoration: none;
    color:#27E4FD;
  }
}

.logout_button{
  border:solid;
  border-color:#fff;
  text-align: center;
  background-color:#5A2B5E;
  font-family: "Lato";
  width:100px;
  font-size: 20px;
  float:right;
  margin:10px 0 0 10px;
  a{
    text-decoration: none;
    color:#fff;
    text-align: center;
  }
  a:visited{ color: white }

}

.right_user_logout{
  text-align: right;
  margin-top: 10px;
  margin-bottom:10px;
}
