

.settings_body{
  font-family: "Lato",sans-serif;
  background-color: #388FC0;
  height:100%;
}

.filler_bar{
  background-color: #328EC2;
}

.welcome_sign_settings{
    background-color: #328EC2;
    color:white;
    font-size:100px;
    text-align: center;
    img{
        width:500px;
        padding:35px;
        animation: moveInLeft 2s ease-out;

    }
}

.email_span{
  font-size: 25px;
  font-family: "Lato",sans-serif;
  text-align: center;
  color:white;
  font-weight:bold;
}



.logout_button{
  border:solid;
  border-color:#fff;
  text-align: center;
  background-color:#5A2B5E;
  font-family: "Lato";
  width:100px;
  font-size: 20px;
  float:right;
  margin:10px 0 0 10px;
  a{
    text-decoration: none;
    color:#fff;
    text-align: center;
  }
  a:visited{ color: white }

}

.right_user_logout{
  text-align: right;
  margin-top: 10px;
  margin-bottom:10px;
}

.get_started {
    background-color: #5A2B5E;
    text-align: center;
    h2{
        color:white;
        text-align: center;
        font-family: "Lato",sans-serif;
        padding: 10px;
    }

    p{
        color:white;
        text-align: center;
        font-size:30px;
        font-family: Lato,sans-serif;
    }
}


.oval_test{
    border-radius: 50px 50px;
    padding:15px;
    text-align: center;
    background-color:#328EC2;
    border:none;
    color:white;
    margin-right: 10px;
    margin-bottom:10px;
    font-family: Lato,sans-serif;
}

.list_holder{
  display:flex;
}
.tag_list{
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
