<html>
   <head>
      <title>Fullfill</title>
      <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body class="not_logged_settings_body">
      <nav class="navigation container-fluid">
         <img class="logo_1 nav-brand" src="img/Screen%20Shot%202018-01-16%20at%206.50.26%20PM.png">
         <ul class="nav justify-content-end nav-items">
            <li class="nav-item">
               <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/topics/all">Materials</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/settings">Settings</a>
            </li>
         </ul>
      </nav>
      <section class="container-fluid info_bar">
         <div class="row">
            <div class="col-md-12 please_login_settings">
               <p>Please Log In to view your settings.
               <p>
               <p><a href="/home">Back to main page </a></p>
            </div>
         </div>
      </section>
   </body>
</html>
