<html>
   <head>
      <title>Fullfill</title>
      <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body class="settings_body">
      <nav class="navigation">
         <img class="logo_1 nav-brand" src="img/Screen%20Shot%202018-01-16%20at%206.50.26%20PM.png">
         <ul class="nav justify-content-end nav-items">
            <li class="nav-item">
               <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/topics/all">Materials</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/settings">Settings</a>
            </li>
         </ul>
      </nav>
      <section class="container-fluid filler_bar">
         <div class="row">
            <div class="col-md-6 welcome_sign_settings">
               <img src="img/Screen%20Shot%202018-01-16%20at%207.16.06%20PM.png" class="img-fluid welcome_picture">
            </div>
            <div class="col-md-6 right_user_logout">
               <span class="email_span">{{#email}}{{.}}{{/email}}</span>
               <div class="logout_button"><a href='/logout'>Logout</a></div>
               <div class="delete_account logout_button"><a href="/deleteAccount/{{userId}}"> Delete Account</a></div>
            </div>
         </div>
      </section>
      <section class="container_fluid">
         <div class="row">
            <div class="col-md-12 get_started">
               <h2>Get Started</h2>
               <p>What areas would you to like to improve on?</p>
               <div class="list_holder">
                  <ul class="tag_list">
                     {{#tags}}
                     <li><button tagId="{{id}}" class="oval_test">{{name}}</button></li>
                     {{/tags}}
                  </ul>
               </div>
               <br>
            </div>
         </div>
      </section>
      <div class="container-fluid bottom_footer">
         <p>built by Nydia and Danny &#169;2018</p>
      </div>
   </body>
</html>
