<html>
   <head>
      <title>Fullfill</title>
      <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../../../css/style.css">
   </head>

   <body class="parent_body">
      <nav class="navigation">
         <img class="logo_1 nav-brand" src="../../../img/Screen%20Shot%202018-01-16%20at%206.50.26%20PM.png">
         <ul class="nav justify-content-end nav-items">
            <li class="nav-item">
               <a class="nav-link active" href="/home">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/topics/all">Materials</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/settings">Settings</a>
            </li>
         </ul>
      </nav>
      <section class="container-fluid">
        <div class="row">
        <div class="post-body col-md-10">
          {{#posts}}
          <div class="post container-fluid" id="post{{{id}}}">
                  <div class="post-votes" style="font-size: 30px; color:#606060; text-align: center;">
                        <span class="fa fa-arrow-up col-md-12"></span>
                        <span class="col-md-12">&nbsp;0</span><!-- Number goes here -->
                        <span class="fa fa-arrow-down col-md-12"></span>
                    </div>
              <div class="post-details">
              <div class="post-header"><h3>{{postTitle}}</h3></div>
              <div class="post-subheader">{{postSubheader}}</div>
              <div class="post-footer">
              <div class="post-tags">{{#tags}}<a href="">{{name}}</a>&nbsp;{{/tags}} | </div>
              <div class="post-author">{{#user}}{{username}}{{/user}}</div>
            </div>
              </div>
            </div>
            {{/posts}}
        </div>
        <div class="col-md-2 post-nav">
          <div class="tree">
            <div class="alltags">All Tags</div>
            <div class="usertags"></div>
        </div>
      </div>
      </section>
      <footer class="container-fluid bottom_footer">
         <p>built by Nydia and Danny &#169;2018</p>
      </footer>
   </body>
</html>
